* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-violet: #8460ed;
    --color-pink: #ff1252;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--color-violet), var(--color-pink));
}
